@charset "urf-8";

/*헤더*/
header {
  width: 1400px;
  height: 60px;
  padding: 0 64px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: var(--white-color1);
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.03));
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 999;
}

header .con_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

/*로고*/
h1 {
  width: 40px;
  height: 31px;
  margin: auto 0;
}

h1 > a {
  width: 100%;
  height: fit-content;
}

h1 img {
  width: 100%;
}

/*gnb*/
#gnb {
  width: fit-content;
  height: 100%;
  font-size: var(--md-size-font);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gnb > ul {
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 64px;
  box-sizing: border-box;
  cursor: pointer;
}

#gnb > ul > li {
  width: fit-content;
  height: 100%;
  position: relative;
  line-height: 60px;
}

#gnb > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

/*2차 메뉴*/
#gnb > ul::after {
  content: "2depth_menu";
  font-size: 0;
  width: 841px;
  height: 180px;
  background-color: var(--white-color1);
  display: none;
  border-radius: 0 0 12px 12px;
  position: fixed;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.submenu {
  position: absolute;
  width: 91px;
  top: 60px;
  left: 50%;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  transform: translateX(-50%);
}

.submenu a {
  font-size: var(--sm-size-font);
  font-weight: var(--regular-weight-font);
  color: var(--black-color3);
  display: block;
  padding: 16px 0;
  line-height: 1.5;
}

/*현재 페이지 메뉴 속성*/
#gnb .self {
  color: var(--main-color1);
}

.self {
  font-weight: var(--bold-weight-font);
}

.submenu .self {
  font-weight: var(--medium-weight-font);
}

/*gnb에 마우스 호버했을 때*/
#gnb > ul > li:hover {
  font-weight: var(--bold-weight-font);
}

.submenu > li:hover > a {
  font-weight: var(--medium-weight-font);
  color: var(--black-color2);
}

/* 2차 메뉴 나오기*/
#gnb > ul:hover::after {
  display: block;
}

#gnb > ul:hover .submenu {
  display: flex;
}

/*mobile_gnb*/
#mobile_gnb {
  height: calc(100vh - 80px);
  background-color: var(--white-color1);
  position: fixed;
  left: 0;
  top: 80px;
  width: 100%;
  display: none;
  overflow-y: scroll;
}

#mobile_gnb > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

/*현재 페이지 메뉴 속성*/
#mobile_gnb .self {
  color: var(--main-color1);
}

.self {
  font-weight: var(--bold-weight-font);
}

.mobile_submenu .self {
  font-weight: var(--medium-weight-font);
}

/*마우스 호버했을 때*/
#mobile_gnb > ul > li:hover {
  font-weight: var(--bold-weight-font);
}

.mobile_submenu > li:hover {
  font-weight: var(--medium-weight-font);
  color: var(--black-color2);
}

/*1차 메뉴*/
#mobile_gnb > ul > li {
  width: 100%;
  height: fit-content;
  padding: 28px 0;
  text-align: center;
  line-height: 1;
  font-size: var(--md-size-font);
  border-bottom: 1px solid var(--black-color14);
  background-color: var(--white-color1);
}

/*2차 메뉴*/
.mobile_submenu {
  width: 100%;
  height: fit-content;
  border-top: 1px solid var(--black-color9);
  display: none;
  transform: translateY(28px);
}

.mobile_submenu > li {
  font-size: var(--sm-size-font);
  font-weight: var(--regular-weight-font);
  color: var(--black-color3);
  padding: 16px 0;
  line-height: 1.5;
  white-space: nowrap;
}

/*아이콘 영역*/
header .icons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

/*검색*/
header .icons button:first-of-type {
  padding: 2px 0 0;
  display: flex;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}

header .icons button:first-of-type div {
  width: 8vw;
  display: none;
}

header .icons button:first-of-type input {
  width: 100%;
  margin: 4px 0;
  font-size: var(--md-size-font);
}

header .icons button:first-of-type img {
  width: 28px;
  height: 28px;
}

/*로그인*/
header .icons a {
  width: 32px;
  height: 32px;
}

header .icons a > img {
  width: 100%;
}

header .icons img:last-of-type {
  display: none;
}

/*gnb가 없어지면 나타날 전체 메뉴*/
header .icons button:last-of-type {
  display: none;
}

header .icons button:last-of-type > i {
  font-size: var(--md-size-font);
  color: var(--black-color5);
}

/*마우스 호버했을 때*/
header .icons > :is(a:hover, button:hover) img:first-of-type {
  display: none;
}

header .icons > :is(a:hover, button:hover) img:last-of-type {
  display: block;
}

header .icons > button:hover > i {
  color: var(--main-color1);
}

/*컨텐츠 영역*/
.con {
  width: 1200px;
  height: fit-content;
  margin: 0 auto;
}

/*메인/서브 비주얼 마진 없애기*/
.main_visual,
.sub_visual {
  margin: 0;
}

/*푸터*/
footer {
  width: 100%;
  padding: 30px 0;
  background-color: var(--black-color10);
  font-size: var(--sm-size-font);
  color: var(--black-color4);
}

footer :is(.info, .terms) a {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--black-color4);
}

footer .top {
  display: flex;
  justify-content: space-between;
}

/*로고*/
footer .left > a {
  display: block;
  width: 41px;
  height: 33px;
}

footer .left > a > img {
  width: 100%;
}

/*sns*/
footer .right {
  display: flex;
  gap: 11px;
}

footer .right > a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--black-color7);
  transition: background-color 0.3s;
}

footer .right > a:nth-child(1) > img {
  width: 28px;
}

footer .right > a:nth-child(2) > img {
  width: 24px;
}

footer .right > a:nth-child(3) > img {
  width: 24px;
}

footer .right > a:nth-child(4) > img {
  width: 27px;
}

/*마우스 호버했을 때*/
footer .right > a:hover {
  background-color: var(--black-color4);
}

/*푸터 아래쪽*/
footer .info {
  display: flex;
  margin-top: 14px;
}

footer .info > span {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

footer .info > span::after {
  content: "line";
  font-size: 0;
  display: block;
  width: 1px;
  height: 9px;
  margin: 0 15px;
  background-color: var(--black-color5);
}

footer .info > a:not(:last-of-type)::after {
  content: "line";
  font-size: 0;
  display: block;
  width: 1px;
  height: 9px;
  margin: 0 15px;
  background-color: var(--black-color5);
}

footer .info > a > div {
  width: 16px;
  height: 16px;
}

footer .info > a > div > img {
  width: 100%;
}

footer .terms {
  display: flex;
  margin-top: 4px;
}

footer .terms a {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
}

footer .terms > a:not(:last-child)::after {
  content: "line";
  font-size: 0;
  display: block;
  width: 1px;
  height: 9px;
  margin: 0 15px;
  background-color: var(--black-color5);
}

footer .copy {
  display: block;
  margin-top: 14px;
  color: var(--black-color6);
}

@media screen and (min-width: 320px) and (max-width: 1334px) {
  /*헤더*/
  header {
    width: 100%;
    height: 80px;
    border-radius: 0;
    filter: none;
    top: 0px;
    left: 0;
    transform: translate(0);
    border-bottom: 1px solid var(--black-color14);
    padding: 20px 0 0;
  }

  header > .con_wrap {
    width: 90%;
  }

  /*아이콘 영역*/
  header .icons {
    gap: clamp(6px, 1.5vw, 20px);
  }

  /*검색*/
  header .icons button:first-of-type div {
    width: clamp(200px, 33vw, 300px);
    padding: clamp(4px, 1vw, 10px) clamp(12px, 3vw, 20px);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: -1;
    border-radius: 100px;
    border: 1px solid var(--black-color14);
    background-color: var(--white-color1);
  }

  header .icons button:first-of-type input {
    font-size: clamp(var(--xsm-size-font1), 2vw, var(--md-size-font));
  }

  header .icons button:first-of-type input::placeholder {
    font-size: clamp(var(--xsm-size-font1), 2vw, var(--md-size-font));
  }

  /*gnb*/
  #gnb {
    display: none;
  }

  /*모바일 gnb*/
  #mobile_gnb > ul > li {
    font-size: clamp(var(--sm-size-font), 3vw, var(--md-size-font));
  }

  /*검색 아이콘*/
  header .icons button:first-of-type > img {
    width: clamp(20px, 6vw, 28px);
    height: clamp(20px, 6vw, 28px);
  }

  /*로그인*/
  header .icons a {
    width: clamp(22px, 6vw, 32px);
    height: clamp(22px, 6vw, 32px);
  }

  /*전체 메뉴*/
  header .icons button:last-of-type {
    width: fit-content;
    height: fit-content;
    display: flex;
  }

  header .icons button:last-of-type > i {
    font-size: clamp(var(--lg-size-font2), 6vw, var(--xxlg-size-font));
    line-height: 1;
  }

  header .icons > :is(a:hover, button:hover) img:first-of-type {
    display: none;
  }

  /*컨텐츠 영역*/
  .con {
    width: 90%;
  }

  /*푸터*/
  footer {
    font-size: clamp(var(--xxsm-size-font), 3vw, var(--sm-size-font));
  }

  footer .left {
    width: fit-content;
    height: fit-content;
  }

  /*로고*/
  footer .left > a {
    width: clamp(37px, 10vw, 41px);
    height: clamp(30px, 9vw, 37px);
  }

  /*sns*/
  footer .right {
    gap: clamp(6px, 1.8vw, 11px);
  }

  footer .right > a {
    width: clamp(30px, 9vw, 40px);
    height: clamp(30px, 9vw, 40px);
    border-radius: clamp(8px, 2vw, 12px);
  }

  footer .right > a:nth-child(1) > img {
    width: clamp(20px, 6vw, 28px);
  }

  footer .right > a:nth-child(2) > img {
    width: clamp(18px, 5vw, 24px);
  }

  footer .right > a:nth-child(3) > img {
    width: clamp(18px, 5vw, 24px);
  }

  footer .right > a:nth-child(4) > img {
    width: clamp(10px, 6vw, 27px);
  }

  /*푸터 아래쪽*/
  footer :is(.info, .terms) {
    flex-wrap: wrap;
    row-gap: 4px;
  }

  footer :is(.info, .terms) > span::after {
    margin: 0 clamp(8px, 2.5vw, 15px);
    height: clamp(8px, 2.5vw, 9px);
  }

  footer :is(.info, .terms) > a:not(:last-of-type)::after {
    margin: 0 clamp(8px, 2.5vw, 15px);
    height: clamp(8px, 2.5vw, 9px);
  }

  footer .info {
    margin: 32px 0 12px;
  }

  footer .info > a > div {
    width: clamp(11px, 3vw, 16px);
    height: clamp(11px, 3vw, 16px);
  }

  /*저작권 표시*/
  footer .copy {
    margin-top: 32px;
  }
}

@media screen and (min-width: 763px) and (max-width: 1400px) {
  /*푸터*/
  /*푸터 아래쪽*/
  footer .info {
    margin: 14px 0 0;
  }

  footer .copy {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1474px) {
  /*헤더*/
  header {
    width: 95%;
    height: 60px;
    border-radius: 100px;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.03));
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    padding: 0;
  }

  header > .con_wrap {
    width: 90%;
  }

  /*gnb*/
  #gnb {
    width: min(707px, 70%);
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #gnb > ul {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  /*모바일 gnb 없애기*/
  #mobile_gnb {
    display: none;
  }

  /*아이콘 영역*/
  header .icons button:last-of-type {
    display: none;
  }
}

/*헤더 con_wrap*/
@media screen and (min-width: 1335px) and (max-width: 1400px) {
  header .con_wrap {
    width: 90%;
  }
}
