@charset "utf-8";

@media screen and (min-width: 320px) {
  /*섹션 공통 속성*/
  section {
    margin-top: clamp(100px, 31vw, 220px);
  }

  /*섹션 제목 설정*/
  h3 {
    font-size: clamp(var(--md-size-font), 4.9vw, var(--xxlg-size-font));
    margin-bottom: clamp(32px, 9.4vw, 64px);
  }

  /*서브 비주얼*/
  .sub_visual {
    height: clamp(346px, 95vw, 540px);
    background-size: clamp(290px, 70vw, 500px);
    background-position: 50% clamp(140px, 41vw, 230px);
  }

  /*서브 비주얼 텍스트*/
  .sub_visual .visual_text {
    width: fit-content;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
  }

  .sub_visual h2 {
    font-size: clamp(var(--lg-size-font), 3vw, var(--xxxlg-size-font));
  }

  .sub_visual p {
    display: none;
  }

  /*첫번째 섹션*/
  .sec1 .con_wrap {
    gap: clamp(20px, 6vw, 40px);
  }

  .sec1 .content {
    padding: clamp(20px, 5vw, 32px) clamp(16px, 4vw, 24px);
  }

  .sec1 .question {
    gap: clamp(6px, 1.5vw, 12px);
    width: 80%;
  }

  .sec1 .question > span {
    font-size: clamp(var(--lg-size-font1), 5.7vw, var(--xxxlg-size-font));
  }

  .sec1 .question > h4 {
    font-size: clamp(var(--xsm-size-font), 3.2vw, var(--lg-size-font2));
  }

  .sec1 .top button {
    width: clamp(18px, 4.7vw, 26px);
    height: clamp(18px, 4.7vw, 26px);
  }

  /*내용 영역*/
  .sec1 .bottom > p {
    font-size: clamp(var(--xsm-size-font1), 3.3vw, var(--lg-size-font1));
    padding: clamp(20px, 5vw, 32px) clamp(20px, 3vw, 44px) 0;
    margin-top: clamp(20px, 5vw, 32px);
  }

  /*두번째 섹션*/
  .sec2 {
    margin-bottom: clamp(64px, 20vw, 160px);
  }

  .sec2 form {
    padding: clamp(20px, 5.6vw, 40px) 0;
  }

  .sec2 form > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  /*제목*/
  .sec2 h4 {
    font-size: clamp(var(--sm-size-font), 4vw, var(--lg-size-font2));
    padding-bottom: clamp(20px, 5.6vw, 40px);
  }

  .sec2 .user_name {
    padding-top: clamp(20px, 5.6vw, 40px);
  }

  .sec2 label,
  .sec2 h5 {
    font-size: clamp(var(--xsm-size-font), 3vw, var(--lg-size-font));
  }

  .sec2 input,
  .sec2 textarea {
    width: 100%;
    padding: clamp(12px, 3vw, 16px);
    font-size: clamp(var(--xsm-size-font1), 3vw, var(--md-size-font));
  }

  /*내용 입력 부분*/
  .sec2 .question_content > label {
    padding-top: 0;
  }

  /*첨부파일*/
  .sec2 .file_upload {
    padding-bottom: clamp(20px, 5.6vw, 40px);
  }

  .sec2 .file_wrap {
    width: 100%;
    gap: clamp(4px, 1vw, 12px);
  }

  /*input 대신할 label*/
  .sec2 .file_wrap > label {
    padding: clamp(12px, 3vw, 16px) clamp(10px, 3vw, 28px);
    font-size: clamp(var(--xxsm-size-font1), 2.5vw, var(--md-size-font));
  }

  /*개인정보 수집 동의*/
  .sec2 .terms {
    padding: clamp(20px, 5.6vw, 40px) 0;
  }

  .sec2 .terms label {
    width: clamp(9px, 2.5vw, 16px);
    height: clamp(9px, 2.5vw, 16px);
    border-radius: clamp(2px, 0.5vw, 3px);
  }

  .sec2 .terms span {
    font-size: clamp(var(--xsm-size-font1), 3.3vw, var(--md-size-font));
  }

  /*submit 버튼*/
  .sec2 form .submit_btn {
    padding-top: clamp(20px, 5.6vw, 40px);
  }

  .sec2 .submit_btn > input {
    padding: 12px clamp(32px, 9vw, 40px);
    font-size: clamp(var(--xsm-size-font), 3.5vw, var(--lg-size-font1));
  }
}

@media screen and (min-width: 1024px) {
  /*서브 비주얼*/
  .sub_visual {
    background-size: clamp(550px, 48vw, 821px);
    background-position: 100% 127px;
  }

  .sub_visual .visual_text {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sub_visual p {
    display: block;
    font-size: clamp(var(--sm-size-font), 1.3vw, var(--md-size-font));
  }

  /*두번째 섹션*/
  .sec2 form > div {
    flex-direction: row;
    justify-content: space-between;
  }

  .sec2 input,
  .sec2 textarea {
    width: 80%;
  }

  /*개인정보 수집 동의*/
  .sec2 .terms {
    flex-direction: column;
  }

  /*첨부파일*/
  .sec2 .file_wrap {
    width: 80%;
  }
}

@media screen and (min-width: 1334px) {
  /*두번째 섹션*/
  /*개인정보 수집 동의*/
  .sec2 .terms {
    flex-direction: row;
  }
}

@media screen and (min-width: 1500px) {
  /*서브 비주얼*/
  .sub_visual .visual_text {
    width: 1200px;
  }
}
