@import url(../../reset.css);
@import url(../../common.css);

/*메인*/
/*섹션 공통 설정*/
section {
  width: 100%;
  height: fit-content;
  margin-top: 220px;
}

h3 {
  font-size: var(--xxlg-size-font);
  font-weight: var(--bold-weight-font);
}

/*서브 비주얼*/
.sub_visual {
  width: 100%;
  height: 540px;
  position: relative;
  overflow: hidden;
  background: var(--black-color10)
    url(../../../img/sub/boardgame_cafe/boardgame_cafe1/sub_visual/visual_img.png)
    no-repeat;
  background-size: 732.99px;
  background-position: 75% -55%;
}

.visual_text {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.sub_visual h2 {
  color: var(--main-color1);
  font-size: var(--xxxlg-size-font);
  font-weight: var(--extrabold-weight-font);
}

.sub_visual p {
  font-size: var(--md-size-font);
  font-weight: var(--regular-weight-font);
  opacity: 75%;
  margin-top: 7px;
}

/*첫번째 섹션*/
.sec1 {
  margin-bottom: 120px;
}

.sec1 .con {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

/*지도 영역*/
#map {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  text-decoration: none;
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 500px;
}

#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  margin: 10px 0 30px 10px;
  padding: 10px 5px;
  overflow-y: auto;
  background: var(--white-color1);
  z-index: 1;
  font-size: 12px;
  border-radius: 4px;
}

.bg_white {
  background: var(--white-color1);
}

/*검색 영역*/
#menu_wrap .line {
  display: block;
  height: 1px;
  background-color: var(--black-color9);
  margin: 10px 0;
}

#menu_wrap .option {
  text-align: center;
}

#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap .option form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 0 4px;
  font-size: var(--sm-size-font);
  color: var(--black-color2);
  font-weight: var(--semibold-weight-font);
}

#menu_wrap .option input {
  padding: 4px;
  border-radius: 1px;
  flex: 1;
  background-color: var(--black-color10);
  color: var(--black-color2);
}

#menu_wrap .option button {
  font-size: var(--sm-size-font);
  width: 18px;
  height: 18px;
  filter: invert(0.3);
}

#menu_wrap .option button > img {
  width: 100%;
}

/*검색 결과 목록*/
#placesList .item {
  position: relative;
  border-bottom: 1px solid var(--black-color9);
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--black-color1);
}

#placesList .item .info {
  padding: 10px 0 10px 45px;
}

#placesList .info .gray {
  color: var(--black-color3);
}

#placesList .info .jibun {
  padding-left: 29px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
    no-repeat;
}

#placesList .info .tel {
  color: var(--black-color4);
}

#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 10px 0 0 10px;
  background: url(../../../img/sub/boardgame_cafe/boardgame_cafe1/sec1/map_pin.svg)
    no-repeat;
}

/*페이지네이션*/
#pagination {
  margin: 10px auto;
  text-align: center;
}

#pagination a {
  display: inline-block;
  margin-right: 10px;
  color: var(--black-color4);
}

#pagination .on {
  font-weight: bold;
  cursor: default;
  color: var(--black-color3);
}

/*맵 핀 위에 뜰 장소명*/
.place_name {
  width: 50px;
  height: 10px;
  background-color: var(--white-color1);
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -150%);
}

/*리뷰 영역*/
.sec1 .review_area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*제목*/
.sec1 .top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sec1 .top .left {
  display: flex;
  align-items: center;
  gap: 2px;
}

.sec1 .top .left > div {
  width: 24px;
  height: 24px;
}

.sec1 .top .left > div > img {
  width: 100%;
}

.sec1 .top .right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sec1 .top .average {
  display: flex;
  align-items: center;
  gap: 1px;
}

.sec1 .top .average > div {
  width: 14px;
  height: 14px;
}

.sec1 .top .average > div > img {
  width: 100%;
}

.sec1 .top .average > span {
  font-size: var(--sm-size-font);
  color: var(--black-color3);
  display: flex;
  align-items: center;
  gap: 10px;
}

.sec1 .top .average > span::after {
  content: "line";
  font-size: 0;
  display: block;
  width: 1px;
  height: 10px;
  background-color: var(--black-color5);
}

.sec1 .top .right > a {
  font-size: var(--sm-size-font);
  color: var(--black-color3);
}

/*리뷰*/
.sec1 .bottom {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 20px;
  position: relative;
}

.sec1 .review {
  flex: 1;
  display: flex;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--black-color7);
  padding: 20px;
  transition: border 0.3s;
  cursor: pointer;
}

/*프로필*/
.sec1 .profile {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 100%;
}

.sec1 .profile > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*리뷰 내용*/
.sec1 .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sec1 .content .top_line {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sec1 .content .top_line > span {
  font-size: var(--sm-size-font);
  color: var(--black-color2);
}

.sec1 .content .personal {
  display: flex;
  align-items: center;
  gap: 2px;
}

.sec1 .content .personal > div {
  width: 10px;
  height: 10px;
}

.sec1 .content .personal > div > img {
  width: 100%;
  filter: brightness(0.8);
}

.sec1 .content .personal > span {
  font-size: var(--xsm-size-font);
  font-weight: var(--regular-weight-font);
  color: var(--black-color4);
}

.sec1 .content > span {
  font-size: var(--sm-size-font);
  font-weight: var(--regular-weight-font);
  color: var(--black-color3);
  display: -webkit-box;
  width: 217px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*리뷰에 호버하면*/
.sec1 .review:hover {
  border: 1px solid var(--sub-color1);
}
