@charset "utf-8";

@media screen and (min-width: 320px) and (max-width: 1334px) {
  /*메인*/
  /*섹션 공통 속성*/
  section {
    margin-top: clamp(100px, 24vw, 320px);
  }

  /*h3 공통 설정*/
  h3 {
    font-size: clamp(var(--xsm-size-font), 2.2vw, var(--lg-size-font3));
    word-break: keep-all;
  }

  /*서브 비주얼*/
  .sub_visual {
    height: clamp(346px, 95vw, 540px);
    background-size: clamp(288px, 66vw, 500px);
    background-position: 50% clamp(160px, 48vw, 220px);
  }

  /*서브 비주얼 텍스트*/
  .sub_visual .left_text {
    width: fit-content;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
  }

  .sub_visual h2 {
    font-size: clamp(var(--lg-size-font), 3vw, var(--xxxlg-size-font));
  }

  .sub_visual p {
    display: none;
  }

  /*첫번째 섹션*/
  .sec1 .con {
    gap: clamp(32px, 4.5vw, 60px);
  }

  .sec1 .top_text {
    width: clamp(251px, 37vw, 490px);
  }

  /*두번째 섹션*/
  .sec2 {
    height: fit-content;
  }

  /*세번째 섹션*/
  .sec3 .con {
    gap: clamp(64px, 17vw, 220px);
  }

  .sec3 .content_area {
    height: clamp(270.25px, 36vw, 470px);
  }

  /*카드들*/
  .sec3 .cards > div {
    width: clamp(184px, 24vw, 320px);
    height: clamp(270.25px, 36vw, 470px);
    border-radius: clamp(16px, 1.5vw, 20px);
  }

  /*공격&방어 카드 공통 속성*/
  .sec3 :is(.attack, .defend) {
    padding: clamp(20px, 3vw, 40px) 0;
  }

  .sec3 :is(.attack, .defend) h4 {
    font-size: clamp(var(--lg-size-font), 2vw, var(--xlg-size-font));
  }

  .sec3 :is(.attack, .defend) p {
    font-size: clamp(var(--xxsm-size-font), 1.2vw, var(--md-size-font));
  }

  .sec3 :is(.attack, .defend) .img_area {
    height: clamp(127px, 18vw, 230px);
  }

  /*네번째 섹션*/
  .sec4 {
    margin-bottom: clamp(64px, 9vw, 120px);
  }

  .sec4 .con {
    gap: clamp(40px, 12vw, 160px);
  }

  .sec4 .content {
    height: 274.5px;
    flex-direction: column;
  }

  .sec4 .content > div {
    font-size: clamp(var(--md-size-font), 1.4vw, var(--lg-size-font));
    padding: 13px 0;
  }

  .sec4 .content span {
    font-size: clamp(var(--xxxlg-size-font), 4.5vw, 60px);
  }

  /*가운데 선*/
  .sec4 .right_con {
    border-left: none;
    border-top: 1px solid var(--black-color7);
  }
}

@media screen and (min-width: 600px) {
  /*네번째 섹션*/
  .sec4 .content {
    height: fit-content;
    flex-direction: row;
  }

  /*가운데 선*/
  .sec4 .right_con {
    border-left: 1px solid var(--black-color7);
    border-top: none;
  }
}

@media screen and (min-width: 1024px) {
  /*서브 비주얼*/
  .sub_visual {
    background-size: clamp(360px, 35vw, 800px);
    background-position: 80% 100px;
  }

  .sub_visual .left_text {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sub_visual p {
    display: block;
    font-size: clamp(var(--sm-size-font), 1.3vw, var(--md-size-font));
  }
}

@media screen and (min-width: 1500px) {
  /*서브 비주얼*/
  .sub_visual .left_text {
    width: 1200px;
  }
}
